<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Register</h1>

<form method="post" >{% csrf_token %}

    <label for="username">Username:</label>
    <input id="username" type="text" name="username"><br><br>


    <label for="first_name">Firstname:</label>
    <input id="first_name" type="text" name="first_name"><br><br>


    <label for="last_name">Lastname:</label>
    <input id="last_name" type="text" name="last_name"><br><br>


    <label for="email">Email:</label>
    <input id="email" type="email" name="email"><br><br>


    <label for="password">Password:</label>
    <input id="password" type="password" name="password"><br><br>

    <button type="submit">submit</button>

</form>

</body>
</html>